.card{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  border: 2ps solid rgba(255, 255, 255, .18);
  border-radius: .4rem;

  &:hover{
    background: #55198B;
    box-shadow: 0 10px 30px -15px rgba(234, 229, 229, 0.91);
    cursor: pointer;
    transition: all .3s ease;
  }
  @media screen and (max-width: 680px) {
    display: flex;
    width: 100%;
  }
}
.repo-footer{
  display: flex;
  justify-content: space-between;
}