.skills-container{
  padding: 1rem 5rem;
  @media screen and (max-width: 680px) {
    padding: .4rem .3rem;
  }
}
.skill-container{
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}
